:root {

    --cor_principal:#ffffff;
    --cor-secundaria:#c0c0c0;
    --cor-botão: #167bf7;
    --fundo_primario:#00030C;
    --fonte-principal: 'Inter', sans-serif;
    --cor-texto-secundario: #f9f9f9;
    --cor-clique: purple;
    --cor-botão-efeito: #519cf7;

}
body {
    background-color: var(--fundo_primario);
    color: var(--cor_principal);
    font-family: var(--fonte-principal);
} 

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
    }

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--cor-botão);
    border-radius: 0.3em;
    padding: 1em;
    display: block;
    color: var(--cor_principal);
    text-decoration: none;
    margin-bottom: 1em;
}
.botao_secudario {
    background-color: transparent;
    border: 2px solid var(--cor_principal);
}

.container__aviso {
    font-size: 0.75rem;
    color: var(--cor-secundaria);
}

.container__titulo {
    font-size: 1.75rem;
    font-weight: 700;
}
.imagem__promocao {
    margin: 1em 0 2em 0;
}
.container__caixa {
    margin: 0 6em;
}

.imagem__secundaria {
    width: 80%;
}
.secundario {
    align-items: center;
    margin: 0 10em;
}
.descricao__titulo {
    font-size: 3em;
    font-weight: 700;
    color: var(--cor_principal);
}
.descricao__texto {
    font-size: 1em;
    color: var(--cor-secundaria);
    margin-top: 0.3em;
}
.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}
.container__descricao {
    padding: 2em;
}
.dispositivos {
    text-align: center;
}
.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}
.dispositivos__titulo {
    font-size: 3em;
    font-weight: 700;
    color: var(--cor_principal);
}
.lista__item {
    font-size: 2em;
    font-family: var(--fonte-principal);
}
.rodape {
    text-align: center;
}
.rodape__logo {
    margin: 2em 0;
}
.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 2em;
}
.lista__link {
    font-size: 1em;
    text-decoration: none;
    color: var(--cor-principal);
    margin: 0 0.5em;
}
.rodape__texto {
    font-size: 0.75em;
    margin-bottom: 2em;
    color: var(--cor-principal);
}
.lista__link a:hover {
    color: var(--cor-botão);
}
.lista__link a:active {
    color: var(--cor-clique);
}
.container__botao:hover {
    background-color: var(--cor-botão-efeito);
    color: var(--fundo_primario);
}
.container__botao:active {
    background-color: var(--cor-clique);
    color: var(--fundo_primario);
}
.botao_secudario:hover {
    background-color: hsla(204, 100%, 70%, 0.5);
    color: var(--fundo_primario);
}
